<h1>Edit Person Details</h1>
<%= form_for @person do |f| %>
<%= f.label :name %>
<%= f.text_area :name %>
<%= f.label :age %>
<%= f.text_area :age %>
<%= f.label :hair_color %>
<%= f.text_area :hair_color %>
<%= f.label :eye_color %>
<%= f.text_area :eye_color %>
<%= f.label :gender %>
<%= f.text_area :gender %>
<%= f.label :alive %>
<%= f.text_area :alive %>
<%= f.submit %>
<% end %>